@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat-underline-uniquifier{
  font-family: "Montserrat Underline", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

section {
  padding: 3rem 1rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
